/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Sofia+Sans+Semi+Condensed:ital,wght@0,1..1000;1,1..1000&display=swap');

/* Normalizer */
@import url(./normalize.css);
:root {
  --bg: #00283a;
  --primary: #02162b;
  --secondary: #afb42b;
  --text_primary: #f2f2f2;
  --text_secondary: rgba(204, 205, 207, 0.7);
}

/* Mobile Design */
body {
  font-family: 'Sofia Sans Semi Condensed', sans-serif;
  background-color: var(--primary);
  color: var(--text_primary);
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Lato', sans-serif;
}
/* Locomotive Scroll */
.c-scrollbar {
  width: 10px;
  top: 80px;
  bottom: 10px;
  height: calc(100vh - 100px);
}
.c-scrollbar_thumb {
  width: 4px;
  right: 1px;
  border-radius: 10px;
  background-color: var(--secondary);
  opacity: 1;
}

/* Swiper */
.swiper {
  width: 100%;
  height: 100%;
}

/* Header & Navigation Menu */
.menu {
  background-color: var(--bg);
  color: var(--text_primary);
  padding: 0.875rem;
  top: 0;
  left: 0;
  z-index: 999;
  box-shadow: 0 2px 4px 0 rgb(0 0 0 / 60%);
}
.logo_image {
  max-width: 100px;
}
.nav-link {
  color: var(--text_primary);
}
.nav-link:hover,
.nav-link:focus {
  color: var(--secondary);
}
.nav-link.active {
  color: var(--secondary) !important;
}
.my-btn {
  background-color: var(--secondary);
  padding: 0.4rem 1.5rem !important;
  transition: all 0.3s ease-in-out;
}
.my-btn:hover {
  color: var(--text_primary);
  transform: scale(1.04);
}
.my-btn:focus {
  color: var(--text_primary);
  outline: 2px solid var(--secondary);
  outline-offset: 3px;
}
.fa-arrow-down {
  font-size: 0.8rem;
}
.offcanvas {
  max-height: 300px;
  background-color: var(--bg);
}
.fa-bars-staggered {
  font-size: 1.5rem;
}
.fa-xmark {
  color: var(--text_primary);
  font-size: 1.5rem;
}
.mobile-menu {
  top: 0;
  left: 30%;
}

/* Banner Section */
.banner_image {
  margin-top: 3.6rem;
  filter: brightness(85%);
}
.banner_box {
  top: 20%;
}
.banner_title {
  font-weight: 900;
  font-size: 1.5rem;
  letter-spacing: 0.125rem;
}
.banner_button {
  padding: 0.2rem 2rem;
  color: var(--text_primary);
  font-weight: 600;
  letter-spacing: 0.125rem;
  border: 0.125rem solid var(--text_primary);
  transition: all 0.3s ease-in-out;
}
.banner_button:hover {
  transform: scale(1.04);
}
/* Profile */
.profile {
  z-index: 1;
}

/* Footer */
.footer {
  background-color: var(--bg);
  color: var(--text_secondary);
  flex-direction: column;
  justify-content: center;
  padding: 1.5rem;
  font-size: 0.875rem;
  letter-spacing: 0.125rem;
}
.footer-link {
  color: var(--secondary);
}

/* Tablet Design */
@media (min-width: 640px) {
  /* Header & Navigation Menu */
  .menu {
    padding: 1rem 3rem;
  }
  .offcanvas.show:not(.hiding),
  .offcanvas.showing {
    width: 100%;
  }
  .mobile-menu {
    left: 40%;
  }

  /* Banner Section */
  .banner_image {
    max-height: 80dvh;
  }
  .banner_box {
    top: 35%;
  }
  .banner_title {
    font-size: 2.8rem;
  }
}

/* Desktop Design */
@media (min-width: 1024px) {
  /* Header & Navigation Menu */
  .wrapper {
    padding: 0 0.5rem;
  }
  .menu {
    padding: 1rem 12rem;
  }
  .nav-link {
    font-size: 1.2rem;
  }
  .toggle,
  .offcanvas {
    display: none;
  }

  /* Banner Section */
  .banner_title {
    font-size: 4rem;
  }
  .banner_button {
    padding: 0.5rem 4rem;
    font-size: 1.2rem;
  }

  /* Footer */
  .footer {
    flex-direction: row;
    justify-content: space-between;
    padding: 2.5rem;
  }
}
