/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Sofia+Sans+Semi+Condensed:ital,wght@0,1..1000;1,1..1000&display=swap');

/* Normalizer */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

body {
  line-height: 1.5;
}

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block;
  max-width: 100%;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* Remove built-in form typography styles */
:where(input, button, textarea, select),
:where(input[type='file'])::-webkit-file-upload-button {
  color: inherit;
  font: inherit;
  font-size: inherit;
  letter-spacing: inherit;
  word-spacing: inherit;
}

a {
  text-decoration: none;
}

/* Make it clear that interactive elements are interactive */
:where(
    a[href],
    area,
    button,
    input,
    label[for],
    select,
    summary,
    textarea,
    [tabindex]:not([tabindex*='-'])
  ) {
  cursor: pointer;
  touch-action: manipulation;
}
:where(input[type='file']) {
  cursor: auto;
}
:where(input[type='file'])::-webkit-file-upload-button,
:where(input[type='file'])::file-selector-button {
  cursor: pointer;
}

/* Textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Position list marker inside */
:where(ul, ol) {
  list-style-position: inside;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
:where(ul, ol)[role='list'] {
  list-style: none;
}

/* Make sure users can't select button text */
:where(
    button,
    button[type],
    input[type='button'],
    input[type='submit'],
    input[type='reset']
  ),
:where(input[type='file'])::-webkit-file-upload-button,
:where(input[type='file'])::file-selector-button {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  user-select: none;
  text-align: center;
}

/* Disabled cursor for disabled buttons */
:where(
    button,
    button[type],
    input[type='button'],
    input[type='submit'],
    input[type='reset']
  )[disabled] {
  cursor: not-allowed;
}

:where(svg) {
  stroke: none;
  fill: currentColor;
}

/* SVG's without a fill attribute */
:where(svg):where(:not([fill])) {
  /* Remove fill and set stroke color to the inherited font color */
  stroke: currentColor;
  fill: none;
  /* Rounded stroke */
  stroke-linecap: round;
  stroke-linejoin: round;
}

:root {
  --bg: #00283a;
  --primary: #02162b;
  --secondary: #afb42b;
  --text_primary: #f2f2f2;
  --text_secondary: rgba(204, 205, 207, 0.7);
  --shadow: 0 2px 4px 0 rgb(0 0 0 / 60%);
  --word_space: 0.125rem;
  --duration: all 0.4s ease-in-out;
}

/* =====================
      General Styles
======================== */
/* Mobile Design */
body {
  font-family: 'Sofia Sans Semi Condensed', sans-serif;
  background-color: var(--primary);
  color: var(--text_primary);
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Lato', sans-serif;
}

html,
body {
  overflow-x: hidden;
}
/* Locomotive Scroll */
.c-scrollbar {
  position: fixed;
  width: 5px;
  top: 80px;
  bottom: 10px;
  height: auto;
}
.c-scrollbar_thumb {
  width: 4px;
  right: 1px;
  border-radius: 10px;
  background-color: var(--secondary);
  opacity: 1;
}

/* Swiper */
.swiper {
  width: 100%;
  height: 100%;
}
.swiper_nav {
  top: -165px;
  opacity: 0;
  transition: var(--duration);
}
.custom_prev,
.custom_next {
  background-color: var(--secondary);
  color: var(--text_primary);
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  text-align: center;
}
.custom_prev {
  margin-left: 5rem;
  transition: var(--duration);
}
.custom_next {
  margin-right: 5rem;
  transition: var(--duration);
}
.custom_prev::after {
  content: '\f060';
  font-family: 'FontAwesome';
  font-size: 1rem;
}
.custom_next::after {
  content: '\f061';
  font-family: 'FontAwesome';
  font-size: 1rem;
}

.content_box {
  background-color: var(--bg);
  box-shadow: var(--shadow);
}

/* Header & Navigation Menu */
.menu {
  color: var(--text_primary);
  padding: 0.875rem;
  top: 0;
  left: 0;
  z-index: 999;
}
.logo_image {
  max-width: 100px;
}
.nav-link {
  color: var(--text_primary);
}
.nav-link:hover,
.nav-link:focus {
  color: var(--secondary);
}
.nav-link.active {
  color: var(--secondary) !important;
}
.my_btn {
  background-color: var(--secondary);
  color: var(--text_primary);
  padding: 0.5rem 1.5rem !important;
  transition: var(--duration);
}
.my_btn:hover {
  color: var(--text_primary);
  transform: scale(1.04);
}
.my_btn:focus {
  color: var(--text_primary);
  outline: 0.125rem solid var(--secondary);
  outline-offset: 3px;
}
.fa-arrow-down {
  font-size: 0.8rem;
}
.offcanvas {
  max-height: 300px;
  background-color: var(--bg);
}
.fa-bars-staggered {
  font-size: 1.5rem;
}
.fa-xmark {
  color: var(--text_primary);
  font-size: 1.5rem;
}
.mobile-menu {
  top: 0;
  left: 30%;
}

/* Banner Section */
.banner_image {
  margin-top: 3.6rem;
  filter: brightness(85%);
}
.banner_box {
  top: 20%;
}
.banner_title {
  font-weight: 900;
  font-size: 1.5rem;
  letter-spacing: var(--word_space);
}
.banner_button {
  padding: 0.2rem 2rem;
  color: var(--text_primary);
  font-weight: 600;
  letter-spacing: 0.125rem;
  border: 0.125rem solid var(--text_primary);
  transition: var(--duration);
}
.banner_button::before {
  content: '';
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  top: 0;
  left: -100%;
  background-color: var(--secondary);
  transition: var(--duration);
}
.banner_button:hover {
  transform: scale(1.02);
  z-index: 1;
}
.banner_button:focus {
  color: var(--text_primary);
  outline: 0.125rem solid var(--secondary);
  outline-offset: 2px;
}
.banner_button:hover::before {
  left: 0;
}

.content {
  margin-top: -3rem;
}
/* Profile */
.profile {
  position: absolute;
  z-index: 1;
  width: 88%;
  max-width: 350px;
  letter-spacing: var(--word_space);
}
.avatar {
  max-width: 150px;
  border: 0.125rem solid var(--bg);
  box-shadow: var(--shadow);
}
.title {
  font-size: 1rem;
  font-weight: 700;
}
.divider {
  border-bottom: dotted 0.125rem rgba(225, 225, 235, 0.25);
}
.auto_type {
  font-size: 0.875rem;
}
.profile_links {
  color: var(--text_primary);
  font-size: 1.25rem;
  transition: var(--duration);
}
.profile_links:hover {
  color: var(--secondary);
  transform: scale(1.5);
}
.profile_info {
  font-size: 0.875rem;
}

/* ================
      Home Page
=================== */
/* Counter */
.counter_box {
  margin-top: 38rem;
}
.counter_digits {
  font-size: 1.5rem;
}

/* Content Divider */
.content_divider {
  font-weight: 700;
  font-size: 1.375rem;
  white-space: nowrap;
}
.divider_number {
  height: 1px;
  width: 100%;
  border-bottom: dotted 0.125rem rgba(225, 225, 235, 0.25);
}
.divider_number::after {
  content: attr(data-number);
  position: absolute;
  font-size: 0.75rem;
  font-weight: 700;
  text-align: center;
  color: var(--text_secondary);
  opacity: 0.8;
  top: -0.375rem;
  right: -1.375rem;
}

/* Story */
.description {
  font-size: 1.125rem;
  line-height: 1.5;
  word-spacing: 1px;
}
.quote {
  color: var(--secondary);
  font-size: 1.25rem;
}
.fa-quote-left {
  top: 3%;
  left: 8%;
}
.fa-quote-right {
  bottom: 3%;
  right: 8%;
}

/* Service */
.service_icons {
  font-size: 2.25rem;
  color: var(--text_secondary);
}
.service_title {
  font-size: 1.25rem;
}
.service_text {
  font-size: 1rem;
  color: var(--text_secondary);
}
.service_link {
  color: var(--secondary);
}
.service_link i {
  font-size: 0.875rem;
  margin-top: 3px;
  margin-left: 3px;
}

/* Testimonial */
.client_image {
  max-width: 75px;
  border: 0.125rem solid var(--bg);
  box-shadow: var(--shadow);
}
.client_name {
  font-size: 1.125rem;
  color: var(--secondary);
}
.client_review {
  color: var(--text_secondary);
}

/* =====================
      Contact Page
======================== */
/* Contact Info */
.info_icon {
  font-size: 3rem;
  margin-bottom: 2rem;
  color: var(--text_secondary);
}
.info_title {
  font-size: 1.25rem;
  margin-bottom: 1.25rem;
}
.info_link,
.info_link a {
  color: var(--text_secondary);
}

/* Contact Form */
.my_input,
.my_input:focus {
  background-color: var(--primary);
  color: var(--text_primary);
  border: none;
  height: 3rem;
  box-shadow: inset 0 0 4px -1px rgb(0 0 0 / 60%);
}
.my_input:focus {
  box-shadow: none;
}
.my_input::placeholder {
  color: var(--text_primary);
  text-transform: capitalize;
}
.form_btn {
  font-size: 1.125rem;
  width: 40%;
}
.form_text {
  font-size: 0.875rem;
  color: var(--text_secondary);
  text-align: center;
}

/* =====================
      About Page
======================== */
/* Skills */
.progress {
  height: 5px;
  background-color: var(--text_primary);
  transform: scaleX(0);
  transform-origin: left;
  animation: animate 1s cubic-bezier(1, 0, 0.5, 1) forwards;
}
.percent {
  background: var(--secondary);
  transform-origin: left;
  animation: animate 1s 1s cubic-bezier(1, 0, 0.5, 1) forwards;
}
@keyframes animate {
  100% {
    transform: scaleX(1);
  }
}
.html {
  width: 90%;
}
.css {
  width: 80%;
}
.php {
  width: 70%;
}
.js {
  width: 60%;
}
.sql {
  width: 70%;
}
.laravel {
  width: 80%;
}

/* Knowledge */
.knowledge_order {
  list-style-position: inside;
  list-style-type: none;
}
.knowledge_list::before {
  content: '';
  position: absolute;
  top: 6px;
  left: 0;
  height: 10px;
  width: 10px;
  border: solid 3px #afb42b;
  border-radius: 50%;
}

/* Education */
.wrapper_box {
  gap: 2rem;
  margin-bottom: 2rem;
}
.wrapper_box::after {
  content: '';
  position: absolute;
  top: 5%;
  right: 0;
  height: calc(100% - 20px);
  width: 0.25rem;
  background-color: var(--bg);
}
.history_box {
  margin-right: 2.5rem;
}
.history_box::after {
  content: '';
  position: absolute;
  top: 18px;
  right: -4px;
  height: 14px;
  width: 14px;
  background-color: var(--bg);
  transform: rotate(-135deg);
}
.circle {
  z-index: 1;
  top: 12px;
  right: -47px;
  width: 18px;
  height: 18px;
  background-color: var(--bg);
  border: solid 3px var(--secondary);
}
.history_box:hover .circle::before {
  content: '';
  position: absolute;
  z-index: -1;
  top: 48%;
  left: 48%;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: var(--bg);
  border: solid 3px var(--secondary);
  transition: var(--duration);
  animation: puls 1s infinite;
}
@keyframes puls {
  0% {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1.5);
  }
  100% {
    opacity: 0;
    transform: translate(-50%, -50%) scale(2.25);
  }
}
.history_content {
  word-spacing: 0.125rem;
}
.institution {
  font-size: 1.125rem;
}
.timeframe,
.credential_btn {
  color: var(--secondary);
}
.degree {
  font-size: 1rem;
  color: var(--text_secondary);
}
.credential_btn {
  border: 1px solid var(--secondary);
  width: 125px;
  transition: var(--duration);
}
.credential_icon {
  transform: rotate(-40deg);
}
.credential_btn:hover {
  color: var(--text_primary);
  background-color: var(--secondary);
}
.credential_btn:focus {
  color: var(--text_primary);
  outline: 0.125rem solid var(--secondary);
  outline-offset: 2px;
}

/* Footer */
.footer {
  background-color: var(--bg);
  color: var(--text_secondary);
  padding: 1.5rem;
  font-size: 0.875rem;
}
.footer-link {
  color: var(--secondary);
}

/* Tablet Design */
@media (min-width: 640px) {
  /* Locomotive Scroll */
  .c-scrollbar {
    top: 100px;
    bottom: 20px;
  }
  /* Header & Navigation Menu */
  .menu {
    padding: 1rem 3rem;
  }
  .offcanvas.show:not(.hiding),
  .offcanvas.showing {
    width: 100%;
  }
  .mobile-menu {
    left: 40%;
  }

  /* Banner Section */
  .banner_image {
    max-height: 80dvh;
  }
  .banner_box {
    top: 28%;
  }
  .banner_title {
    font-size: 2.8rem;
  }
  .content {
    margin-top: -6rem;
  }

  /* Profile */
  .profile {
    max-width: 492px;
  }
  .title {
    font-size: 1.25rem;
  }

  /* Story */
  .description {
    font-size: 1.2rem;
  }
  .fa-quote-left {
    top: 4%;
    left: 7%;
  }
  .fa-quote-right {
    bottom: 4%;
    right: 7%;
  }

  /* Education */
  .wrapper_box {
    gap: 2.5rem;
    margin-bottom: 2.5rem;
  }

  /* Contact Form */
  .form_btn {
    width: 20%;
  }

  /* Footer */
  .footer {
    letter-spacing: 0.125rem;
  }
}

/* Desktop Design */
@media (min-width: 1024px) {
  /* Locomotive Scroll */
  .c-scrollbar {
    top: 120px;
    bottom: 30px;
  }
  /* Header & Navigation Menu */
  .wrapper {
    padding: 0 0.5rem;
  }
  .menu {
    padding: 1rem 12rem;
  }
  .nav-link {
    font-size: 1.2rem;
  }
  .toggle,
  .offcanvas {
    display: none;
  }

  /* Banner Section */
  .banner_title {
    font-size: 4rem;
  }
  .banner_button {
    padding: 0.5rem 4rem;
    font-size: 1.2rem;
  }

  /* Profile */
  .profile {
    top: 12.5%;
    max-width: 400px;
    height: calc(100vh - 100px);
  }

  /* Counter */
  .counter_box {
    margin-top: 0;
  }

  /* Story */
  .fa-quote-left {
    top: 5%;
    left: 4%;
  }
  .fa-quote-right {
    bottom: 5%;
    right: 5%;
  }

  /* Testimonial */
  .testimonial_slider:hover .custom_next {
    margin-right: 0;
  }
  .testimonial_slider:hover .custom_prev {
    margin-left: 0;
  }
  .testimonial_slider:hover .swiper_nav {
    opacity: 1;
  }

  /* Education */
  .wrapper_box {
    margin-bottom: 0;
  }

  /* Footer */
  .footer {
    flex-direction: row;
    justify-content: space-between;
    padding: 2.5rem;
  }
}
